body {
    display: flex;
    flex-direction : column;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin: 0;
    /* gap:20px; */
}

.container {
    display: flex;
    flex-direction: column;
    height : 500px;
    width: 500px;
    margin:20px;
}

.line > div {
    aspect-ratio: 1;
    flex: 1 ;
    border: 0.00000000001px solid #e2e8f0;
    box-sizing: border-box;

}

.line {
    flex: 1;
    display: flex;
    width: inherit;
}

.operations {
    display :flex;
    flex-direction :column;
    justify-content :center;
    align-items:center;
    gap:10px;
    margin: 20px;
}

.btns {
    display: flex;
    width: 90%;
    gap: 10px;
}

.btns button {
    flex: 1;
}

